@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background-image: url('./image/weather_forecast.jpg');
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.weather-box {
    background-color: #ffe1877a;
    padding : 20px;
    border-radius: 10px;
    width: 350px;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.weather-font {
  font-family: "Jua", sans-serif;
  font-style: normal;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.errorMsg {
    font-family: "Jua", sans-serif;
    font-style: normal;
    color : #ffffff;
    background-color : rgba(255, 32, 32, 0.61);
    animation: blink 1s infinite; /* 1초 간격으로 무한 반복 */
    height: 100px;
    padding : 20px;
    border-radius: 10px;
}